@font-face {
  font-family: "GreenwichRegular";
  src: url("./greenwich/Greenwich-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GreenwichBold";
  src: url("./greenwich/Greenwich-Bold.otf") format("opentype");
}

@font-face {
  font-family: "GreenwichLight";
  src: url("./greenwich/Greenwich-Light.otf") format("opentype");
}

@font-face {
  font-family: "GreenwichExtraLight";
  src: url("./greenwich/Greenwich-ExtraLight.otf") format("opentype");
}
